In [1]:
import band_sim_functions as bsim
import pandas as pd
from Band import Band
import plotly.io as pio
renderers = ["browser", "notebook_connected"]
pio.renderers.default = renderers[0]

number_of_bands = 300
style_dimensions = 3
band_deviation_from_genre = 3 # 5 works well
number_of_genres = 3

genre_clusters = bsim.generate_random_cluster_locations(dimensions = style_dimensions, cluster_count = number_of_genres)
all_band_positionings = bsim.create_LoL(dims = style_dimensions + 2) # column for each style dimension + 2 for the band's id and name

print(f"all_genres:\n\n{genre_clusters}\n")

all_genres:

[[90, 83, 72], [18, 52, 62], [14, 47, 91]]

In [2]:
all_bands = {}
for band_index in range(0, number_of_bands):
    new_band = Band(
        id = band_index, 
        genre_clusters = genre_clusters, 
        band_deviation_from_genre = band_deviation_from_genre,
        all_band_positionings = all_band_positionings,
        quietly = True)
    all_bands.update({band_index : new_band})

all_band_positionings = pd.DataFrame(all_band_positionings).transpose()
all_band_positionings = bsim.set_column_names(all_band_positionings, style_dimensions)
all_band_positionings

      id                band   x   y    z
0      0    Laminated Fender  82  84   77
1      1     Advanced Buffer  16  50   85
2      2  Exothermic Leopard  99  76   69
3      3         Joint River  28  51   64
4      4           Arid Date  26  46   57
..   ...                 ...  ..  ..  ...
295  295        Frayed Angel   2  48  104
296  296          Ash Change  12  44   78
297  297     Skinny Bungalow  16  54   98
298  298      Metal Metaball  32  53   58
299  299        Sad Narrator  85  72   67

[300 rows x 5 columns]

In [3]:
# bsim.plot_all_band_positions(all_band_positionings, genre_clusters, style_dimensions, print_table = False)

In [8]:
playlist_length = 50

all_bands[291].plot_playlist(playlist_length, all_band_positionings, all_bands, genre_clusters, style_dimensions)

preparing fig